@use '@/styles/variables' as *;

.main{
  margin: 0 auto;
    max-width: 1200px;
    &_info {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        border: 2px solid $black;
        background-color: $bg-section;
        text-align: center;
        &_text{
        font-size: 18px;
        margin-bottom: 100px;
        &_block{
          font-size: 18px;
          margin-bottom: 50px;
        }
      }
      &_title{
        margin-top: 50px;
          font-size: 30px;
          margin-bottom: 50px;
      }
      &_first{
        border: 2px solid black;
        border-radius: 27px 27px 0px 0px;
      }
      &_second{
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
      }
      &_third{
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
        border-radius: 0px 0px 27px 27px;
      }
      &_img{
        width: auto;
        height: 400px;
      }
    }
}