@use "@/app/styles/variables" as *;

.sidebar {
  width: 20%;
  border: 2px solid $black;
  background-color: $bg-section;
  border-radius: 30px;
  padding: 20px 15px;
  display: block;
  overflow: auto;

  @media (max-width: $desktop) {
    width: 30%;
  }

  @media (max-width: $tablet) {
    position: absolute;
    top: 10%;
    left: 0;
    width: 70%;
    height: 74%;
  }
}
