@use "@/app/styles/variables.scss" as *;

.modal {
  position: absolute;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
}
.modal_close {
  font-size: 20px;
  color: #fff;
}
.modal__wrapper {
  z-index: 17;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 400px;
  height: 400px;
}
